$my-green: #03C03C;
$my-gray: #444444;
$my-blue: #386394;
$my-purple: #6232b1;
$my-bg: #AAAAAA;

$padding-top-amt: 2%;

$break-width: 820px;
$break-height: 400px;

$footer-height: 142px;

$page-width: 50%;
$page-width-small: 90%;
$page-width-min: 320px;

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: Lato, sans-serif;
}

.content {
  margin: auto;
  margin-bottom: 0;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: $footer-height;
  width: $page-width;
  min-width: $page-width-min;
}

a {
  text-decoration: none;
  color: $my-blue;
}

a:active, a:visited {
  color: $my-purple;
}

.header {
  width: 100%;
  padding-top: $padding-top-amt;
  .title {
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    a:active, a:visited {
      color: $my-green;
    }
  }
}

.home {
  padding-top: $padding-top-amt;
  h1 {
    font-size: 1.2em;
  }
  h2 {

  }
}

.posts {
  list-style: none;
  padding-left: 0;
  padding-top: $padding-top-amt;
  span {
    color: $my-gray;
  }
  a {
    text-decoration: none;
    color: $my-blue;
    font-weight: bold;
  }
  p {
  }
}

p {
  padding-top: $padding-top-amt;
  line-height: 2em;
}

.atp {
  color: $my-green;
  font-weight: bold;
}

.footer {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  color: $my-gray;
  .socials {
    line-height: 1.5em;
    text-align: left;
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  a:active, a:visited {
    color: $my-blue;
  }
}

@media screen and (max-width: $break-width) {
  .content {
    width: $page-width-small;
  }
  .footer {
    width: $page-width-small;
  }
}

@media screen and(max-height: $break-height) {
  .footer {
    display: none;
    visibility: hidden;
  }
}
