<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8" />
    <title>{{page.title}}</title>
    <meta name="author" content="Marquess Valdez" />

    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Inconsolata|Lato" rel="stylesheet">

  </head>

  <body>
    <div class="header">
      <div class="title">
        <a href="/">> All Tests Passsed</a>
    </div>

    {{content}}

    <div class="footer">
      <div class="socials">
        <ul>
          <li><a href="https://marquessv.github.io/">Marquess Valdez</a> is on:</li>
          <li><a href="https://www.linkedin.com/in/marquessv/">LinkedIn</a></li>
          <li><a href="https://github.com/MarquessV">GitHub</a></li>
        </ul>
      </div>
      <div class="misc-info">
        The source for this site can be viewed on <a href="https://github.com/MarquessV/AllTestsPassed">GitHub</a>
      </div>
    </div>
  </body>


</html>
