<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="author" content="Marquess Valdez" />

    <link rel="stylesheet" href="{{site.url}}/css/main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Inconsolata|Lato" rel="stylesheet">

    <link rel="{{site.url}}/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="{{site.url}}/icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="{{site.url}}/icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="{{site.url}}/manifest" href="/manifest.json">
    <link rel="{{site.url}}/mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

  </head>

  <body>
  <div class="content">
    <div class="header">
      <div class="title">
        <a href="{{site.url}}">> All Tests Passed</a>
    </div>

    {{content}}

    <div class="footer">
      <div class="socials">
        <ul>
          <li><a href="https://marquessv.github.io/">Marquess Valdez</a> is on:</li>
          <li><a href="https://www.linkedin.com/in/marquessv/">LinkedIn</a></li>
          <li><a href="https://github.com/MarquessV">GitHub</a></li>
        </ul>
      </div>
      <div class="misc-info">
        The source for this site can be viewed on <a href="https://github.com/MarquessV/AllTestsPassed">GitHub</a>
      </div>
    </div>
  </div>
  </body>


</html>
